[Unit]
Description=IBM WebSphere Application Server
#Activate the after db2fmcd if DB2 is also installed on your system.
#After=db2fmcd.service
Requires=multi-user.target
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/IBM/tools/startInfrastructure.sh
ExecStop=/opt/IBM/tools/stopInfrastructure.sh
User=wasuser
LimitNOFILE=60000
LimitNPROC=60000
TimeoutStartSec=10min
TimeoutStopSec=8min 30sec

[Install]
WantedBy=multi-user.target
